.main-header .nav-link {
    position: relative;
}

.main-header .main-nav .nav-link.active {
    font-weight: bold;
}

/* SPECIAL FOR SHOPPING CART ICON WHEN ITS ACTIVE */
.main-header .nav-link.active svg {
    stroke-width: 3px;
}

.main-header .nav-badge {
    position: absolute;
    top: -.7rem;
    right: -1.2rem;
    padding: .3rem .5rem;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}